* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Press Start 2P', cursive;
    background-color: #ffffff;
    background: url(https://cdnb.artstation.com/p/assets/images/images/006/771/819/large/daka-dibuja-5-manana.jpg?1501127228&dl=1);
    color: black;
}

.startButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #3B4ACB;
    font-family:'Press Start 2P', cursive;
    margin-left: auto;
    margin-right : auto;
    margin-top: 240px;
}

.logo {
    width: 244px;
    height: 144px;
    display: inline-block;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 5px;
}

header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
}
header ul {
    text-align: right;
}

.score {
    position: relative;
    float: right; 
    text-align: right;
}

.quizStart { 
    margin: 225px;
    text-align: center;
}

.headingImg {
    display: inline-block;
}

.answerOption {
    display:block;
    background: #3B4ACB;
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: none;
}

h2 {
    margin-top: 50px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.submitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #3B4ACB;
    font-family:'Press Start 2P', cursive;
    margin-left: auto;
    margin-right : auto;
}

.correctImg {
    width: 400px;
    height:400px;
    display:block;
    margin-right: auto;
    margin-left: auto; 
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: black;
    font-size: 18px;
    border-radius: 0;
    font-family:'Press Start 2P', cursive;
    margin-left: auto;
    margin-right : auto;
}

h1{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
}


.nextButton{
    border: 2px solid black;
    padding: 20px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #3B4ACB;
    font-family:'Press Start 2P', cursive;
    margin-left: auto;
    margin-right : auto;
    display: block;
    margin-top: 100px;
}

.questionAnswerForm {
     display: none; 
}

.restartButton {
    border: 2px solid black;
    padding: 20px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #3B4ACB;
    font-family:'Press Start 2P', cursive;
    margin-left: auto;
    margin-right : auto;
    display: block;
    margin-top: 100px;
}